.back-btn {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 32px;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.country-details-container{
  max-width: 1200px;
  margin-inline: auto;
}

.text-details-container h1 {
  margin-bottom: 1.5rem;
}

.country-details {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
}

.country-details img {
  width: 45%;
  border: 1px solid #ddd;
}

.text-details {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 64px;
  max-height: 180px;
  flex-wrap: wrap;
}

.border-countries {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 40px;
}

.border-countries a {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 14px;
}

@media (max-width: 950px) {
  .country-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .country-details img {
    width: 100%;
    max-width: 500px;
  }

  .text-details {
    max-height: unset;
  }
}
